<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Resource Profile Details</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-responsive.css}"
          href="/css/bootstrap-responsive.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/msg-color.css}" href="/css/msg-color.css"/>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet"
          type="text/css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#datepicker").datepicker();
        });
    </script>
</head>
<body OnLoad="document.myform.id1.focus();">
<form method="POST" th:action="@{/uploadFile}" th:name="myform" th:object="${profileDetailsView}"
      enctype="multipart/form-data">
    <div class="pull-right"><a class="btn btn-large btn-navbar" th:href="@{~/request/ResourceTracking}"><h3>HOME</h3>
    </a></div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Resource Management</li>
                        <li class="active"><a th:href="@{/AddResourceProfile}">Add Profile</a></li>
                        <li><a th:href="@{/UpdateResourceProfile}">Update Profile</a></li>
                    </ul>
                </div>
            </div>
            <h1 align="center">Resource Profile Management</h1>

            <div class="span9 pull-right">
                <h2 align="center">Profile Details</h2>
                <table align="center" cellspacing="40">
                    <tr>
                        <td>OBTId:</td>
                        <td><input type="text" th:name="obtid" th:field="*{obtid}" readonly="readonly"/></td>
                    </tr>
                    <tr>
                        <td>Associate- ID:</td>
                        <td><input type="text" th:name="associate_id" th:id="id1" th:field="*{associate_id}"/></td>
                        <td th:if="${#fields.hasErrors('associate_id')}" th:errors="*{associate_id}" th:class="error">
                            Incorrect Data
                        </td>
                        <td th:text="${id_error}" th:class="error"></td>
                    </tr>
                    <tr>
                        <td>Profile-Shared-Date:</td>
                        <td><input type="text" id="datepicker" th:name="profile_shared_date"
                                   th:field="*{profile_shared_date}" readonly="readonly"/></td>
                        <td th:if="${#fields.hasErrors('profile_shared_date')}" th:errors="*{profile_shared_date}"
                            th:class="error">Incorrect Data
                        </td>
                    </tr>
                    <tr>
                        <td>Onsite POC Details:</td>
                        <td><input type="text" th:name="onsite_poc_details" th:field="*{onsite_poc_details}"/></td>
                        <td th:if="${#fields.hasErrors('onsite_poc_details')}" th:errors="*{onsite_poc_details}"
                            th:class="error">Incorrect Data
                        </td>
                    </tr>
                    <tr>
                        <td>File to upload:</td>
                        <td><input type="file" th:name="file" th:field="*{file}"/></td>
                        <td th:text="${err}" th:class="error"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input class="btn btn-large btn-success" type="submit" th:value="submit"/></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>
</body>
</html>