<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <title>Update Profile Details</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-responsive.css}"
          href="/css/bootstrap-responsive.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/msg-color.css}" href="/css/msg-color.css"/>
</head>
<body OnLoad="document.myform.id1.focus();">
<form action="#" th:action="@{/CheckId}" th:name="myform" method="post" th:object="${addResourceProfileDetailsView}">
    <div class="pull-right"><a class="btn btn-large btn-navbar" th:href="@{~/request/ResourceTracking}"><h3>HOME</h3>
    </a></div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Resource Management</li>
                        <li><a th:href="@{/AddResourceProfile}">Add Profile</a></li>
                        <li class="active"><a th:href="@{/UpdateResourceProfile}">Update Profile</a></li>
                    </ul>
                </div>
            </div>
            <h1 align="center">Resource Profile Management</h1>

            <h3 align="center" th:text="${successMessage}" th:class="success"></h3>

            <div class="span9 pull-right">
                <h2 align="center">Update Resource Profile</h2>
                <table align="center">
                    <tr>
                        <td>Enter the OBT Id</td>
                        <td><input type="text" th:name="obtid" th:id="id1" th:field="*{obtid}"/><span
                                th:text="${obtid_error}" th:class="error">
        </span></td>
                    </tr>
                    <tr>
                        <td>Enter the Associate Id</td>
                        <td><input type="text" th:name="associate_id" th:field="*{associate_id}"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input class="btn btn-large btn-primary" type="submit" th:value="submit"/></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>
</body>
</html>