<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resource Tracking- Search Request</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" href="/css/bootstrap.css"/>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div class="pull-right"><a class="btn btn-large btn-navbar" th:href="@{/ResourceTracking}"><h3>HOME</h3></a></div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Resource Management</li>
                    <li><a th:href="@{/ResourceDetails}">Add Request</a></li>
                    <li><a th:href="@{/updaterequest}">Update Request</a></li>
                    <li class="active"><a th:href="@{/search}">Search Request</a></li>
                    <li><a th:href="@{/delete}">Delete Request</a></li>
                </ul>
            </div>
        </div>
        <h1 align="center">Resource Request Management</h1>

        <div class="span9 pull-right">
            <h2 align="center">Resource Details of Id :<b th:text="${resource_details_view.obtid}"></b></h2>
            <table align="center" border="2" cellspacing="20" cellpadding="20">
                <tr>
                    <td><b>OBT Id</b></td>
                    <td th:text="${resource_details_view.obtid}"></td>
                </tr>
                <tr>
                    <td><b>Resource Type</b></td>
                    <td th:text="${resource_details_view.type}"></td>
                </tr>
                <tr>
                    <td><b>Role</b></td>
                    <td th:text="${resource_details_view.role}"></td>
                </tr>
                <tr>
                    <td><b>Resource Responsibility</b></td>
                    <td th:text="${resource_details_view.responsibility}"></td>
                </tr>
                <tr>
                    <td><b>Technology</b></td>
                    <td th:text="${resource_details_view.technology}"></td>
                </tr>
                <tr>
                    <td><b>Level</b></td>
                    <td th:text="${resource_details_view.level}"></td>
                </tr>
                <tr>
                    <td><b>Request Received Date</b></td>
                    <td th:text="${resource_details_view.rdate}"></td>
                </tr>
                <tr>
                    <td><a class="btn btn-large btn-primary" th:href="@{/search}">Cancel</a></td>
                    <td><a class="btn btn-large btn-primary" th:href="@{/search_project_details}">See Project
                        Details</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
